name: Lint

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: 'Python Black check'
        run: |
          pip install black==20.8b1 && \
          black --config pyproject.toml --check --diff .
